*~
*#*
*.o
*.aux
*.log
*.blg
*.out
*.bbl
*.pro*
*.gz
*.config
*.creator*
*.files
*.includes

source/main
source/tur
source/exp
source/stats
source/bin/*

reports/*.pdf
reports/*.nav
reports/*.snm
reports/*.toc


